@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.group.group-or-rule {
  background: #379ddb;
}

.qb-lite .group--header:hover .group--header .group--drag-handler,
.qb-lite .group--header:hover .group--header .group--actions,
.qb-lite .group--header:not(:hover) .group--drag-handler,
.qb-lite .group--header:not(:hover) .group--actions,
.qb-lite .rule_group:not(:hover) .group--drag-handler,
.qb-lite .rule_group:not(:hover) .group--actions {
  opacity: 1 !important;
}

.qb-lite .rule:hover .rule .widget--valuesrc,
.qb-lite .rule:hover .rule .rule--drag-handler,
.qb-lite .rule:hover .rule .rule--header,
.qb-lite .rule:not(:hover) .widget--valuesrc,
.qb-lite .rule:not(:hover) .rule--drag-handler,
.qb-lite .rule:not(:hover) .rule--header {
  opacity: 1 !important;
}

.SettingsPanel {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}

.SettingsActionsPanel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.TweetsPanel {
  display: flex;
  width: 650px;
  height: 100%;
}

.TweetsOverflowContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  border: 1px solid #b3aeae;
}

.TweetCard {
  position: absolute;
  padding: 12px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bp3-tag {
  cursor: pointer;
  margin: 5px;
  max-width: 500px;
}
