@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.group.group-or-rule {
  background: #379ddb;
}

.qb-lite .group--header:hover .group--header .group--drag-handler,
.qb-lite .group--header:hover .group--header .group--actions,
.qb-lite .group--header:not(:hover) .group--drag-handler,
.qb-lite .group--header:not(:hover) .group--actions,
.qb-lite .rule_group:not(:hover) .group--drag-handler,
.qb-lite .rule_group:not(:hover) .group--actions {
  opacity: 1 !important;
}

.qb-lite .rule:hover .rule .widget--valuesrc,
.qb-lite .rule:hover .rule .rule--drag-handler,
.qb-lite .rule:hover .rule .rule--header,
.qb-lite .rule:not(:hover) .widget--valuesrc,
.qb-lite .rule:not(:hover) .rule--drag-handler,
.qb-lite .rule:not(:hover) .rule--header {
  opacity: 1 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.SettingsPanel {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.SettingsActionsPanel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.TweetsPanel {
  display: flex;
  width: 650px;
  height: 100%;
}

.TweetsOverflowContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  border: 1px solid #b3aeae;
}

.TweetCard {
  position: absolute;
  padding: 12px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bp3-tag {
  cursor: pointer;
  margin: 5px;
}
